.goals_main{
    margin-top: 130px;
}
.goals_title{
    text-align: center;
    color: #582CB0;
    margin: 20px 0;
    
}
#goals{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    margin-bottom: 10%;
}
#goals h3{
    color: #9E9C9C;
}
#goals li{
    margin-left: 30px;
    
}
.tech_goals{
    width: 40vw;
    border-right: 1px solid black;
    padding: 5% 15%;

}
.places_to_visit{
    width: 40vw;
    padding: 5% 15%;
}
.gaming_goals{
    width: 40vw;
    border-right: 1px solid black;
    padding: 5% 15%;
}
.insane_goals{
    width: 40vw;
    padding: 5% 15%;
}

@media screen and (max-width: 800px){
    .circles_container{
        position: fixed;
        height: 100%;
        bottom: 0;
    }
    #goals{
        width: 100%;
        grid-template-columns: 100%;
        justify-content: left;
        margin-bottom: 0;
    }
    .tech_goals{
        width: 100%;
        border: none;
    }
    .gaming_goals{
        width: 100%;
        border: none;
    }
    .places_to_visit{
        width: 100%;
    }
    .insane_goals{
        width: 100%;
    }
}